.projects-my{
    width: 900px;
    height: 1200px;
    margin-top: 70px;
}
.my-project h3{
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
}
.dash3{
    border-radius: 10px;
    background: rgb(57, 150, 95);
    width: 112px;
    height: 8px;
}
.projects-containers{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.project{
    margin-top: 24px;
    border-radius: 12px;
    width: 454px;
    height: 330px;
    padding-left: 5px;
    border: 1px solid rgb(35, 81, 54);
    text-decoration: none;
}
.project:hover{
   
    box-shadow: 0 6px 900px rgba(11, 225, 75, 0.2);
    border: 1px solid rgb(57, 150, 95);
}
.project h5{
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 17px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 5px;


}
.project p{
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 11px;
    text-decoration: none;
    text-align: left;
    padding-left: 5px;
   
}
.project img{
    border-radius: 12px;
    width: 432px;
height: 240px;
object-fit: cover;
padding-left: 5px;
padding-top: 5px;

}

@media (max-width: 1200px) {
    .projects-my {
      width: 100%;
      height: auto;
    }
  
    .projects-containers {
      grid-template-columns: repeat(2, 1fr); /* 2 колонка мобилдик түзмөктөр үчүн дагы */
    }
  
    .project {
      width: 100%;
      height: auto;
    }
  
    .project h5 {
      font-size: 13px;
    }
  
    .project p {
      font-size: 8px;
    }
  
    .project img {
      width: 100%;
      height: auto;
    }
  }
  
  /* Мобилдик түзмөктөр (макс. 768px) */
  @media (max-width: 768px) {
    .projects-my {
      width: 100%;
      margin-top: 50px;
    }
  
    .projects-containers {
      grid-template-columns: 1fr 1fr; /* Бир колонка мобилдик түзмөктөр үчүн */
    }
  
    .project {
      width: 250px;
      height: 230px;
    }
  
    .project h5 {
      font-size: 12px;
    }
  
    .project p {
      font-size: 7px;
    }
  
    .project img {
      width: 240px;
      height: auto;
    }
  }
  
  /* Мобилдик түзмөктөр үчүн эң кичине экрандар (макс. 480px) */
  @media (max-width: 480px) {
    .projects-my {
      width: 100%;
      margin-top: 30px;
      margin-left: 10px;
    }
  
    .projects-containers {
      grid-template-columns: 1fr 1fr; /* Бир колонка */
      gap: 0;
    }
    
    .my-project h3 {
      font-size: 20px;
      text-align: left;
    }
  
    .project {
      width: 150px;
      height: 150px;
      padding-right: 5px;
    }
  
    .project h5 {
      font-size: 10px;
    }
  
    .project p {
      font-size: 9px;
      display: none;
     
    }
  
    .project img {
      width: 140px;
      height: auto;
     
    }
  }

